{% extends "base.html"%}
{% load static %}
{% block content %}

<style>
    body {
        background: #2a2e32;
    }

    .text-small {
        font-size: 0.9rem;
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    .form-control {
        background: #ffffff;
        border-color: #000000;
    }

    .form-control:focus {
        background: #f3f4f6;
    }

    footer {
        background: #212529;
    }

    /*=============
 
==================*/
    /* ==========================================
    Rating stars
  ========================================== */
    .checked {
        color: orange;
    }
</style>





<marquee direction="left" style="color: white;font-size: larger;background-color: black;">Deals & special offer upto
    20% wekend special sales upto 40% (Fashion sale for all products 50% offer shop now) </marquee>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 20px;padding-left: 150px;">
    <a class="navbar-brand" href="{% url 'home'%}" style="margin-left: 500px;font-weight: 900;">
        <img src="{% static 'image/smart.png'%}" width="250" height="200" alt="">
        <p style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-map-marker" aria-hidden="true"> Smart
                Fashion, 44, Townhall Road, Coimbatore-641039</i></p>
    </a>

    <br>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"
      style="background-color: rgba(8, 7, 7, 0.923);padding-top: 20px;padding-bottom: 20px;border-radius: 20px;">
      <br>
      <div class="navbar-nav">
        <a href="{% url 'home'%}"><button class="btn btn-outline-success"
            style="margin-left: 00px;color: white;margin-left: 50px;font-size: larger;border-radius: 20px;">Home</button></a>
        <a href="{% url  'about'%}"><button class="btn btn-outline-success"
            style="margin-left: 00px;color: white;margin-left: 80px;font-size: larger;border-radius: 20px;">About Online
            Smart
            Fashion </button></a>


        <a href="{% url 'login'%}"><button class="btn btn-outline-success" data-toggle="modal"
            data-target="#exampleModalLong"
            style="margin-left: 80px;color: white;font-size: larger;border-radius: 20px;">Pucharse
            Collection</button></a>
      </div>

      <a href="{% url 'admin'%}"><button class="btn btn-outline-success"
          style="margin-left: 00px;color: white;margin-left: 100px;font-size: larger;border-radius: 20px;">Admin
          Login</button></a>

     
          <button class="btn btn-outline-success"
          style="margin-left: 00px;color: white;margin-left: 100px;font-size: larger;border-radius: 10px;"data-toggle="modal" data-target="#exampleModalCenter" style="margin-left: 1200px;">Ask Any Help??</button>
      
      <a href="{% url 'getintouch'%}">
        <button class="btn btn-outline-success"
          style="margin-left: 00px;color: white;margin-left: 100px;font-size: larger;border-radius: 20px;">Get In
          Touch</button></a>
    </div>
    <br>
  </nav>
<br>


<!---------->
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase" style="color: rgba(8, 163, 8, 0.768);">Customer
                                Login</h2>
                            <form method="POST" action="{% url 'login'%}">
                                {% csrf_token %}
                                <br>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typeEmailX">
                                        <h2>Username</h2>
                                    </label>
                                    <input type="text" id="typeEmailX" name="username" placeholder="Enter Name"
                                        class="form-control form-control-lg" required />
                                </div>

                                <br>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typeEmailX">
                                        <h2>Password</h2>
                                    </label>
                                    <input type="password" id="typeEmailX" name="password" placeholder="Enter Password"
                                        class="form-control form-control-lg" required />
                                </div>





                                <input type="submit" class="btn btn-outline-success" value="Submit">

                            </form>

                        </div>
                        <div>
                            <p class="mb-0">Don't have an account? <a href="{% url 'register'%}"
                                    class="text-white-50 fw-bold">Signup</a>
                            </p>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Smart Fashion Chatbot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <div class="modal-body">
          <h3 style="color: black;text-align: center;">Ask Your Question??</h3>
          <div class="input">
            <input type="search" id="userBox"
              style="margin-left: 30px;width: 350px;border-radius: 20px;border: black;padding-top: 10px;padding-bottom: 10px;"
              onkeydown="if(event.keyCode == 13){ talk()}" placeholder="Type your Question" />
          </div>
          <br>
          <p id="chatLog" style="font-size: larger;color: rgb(0, 0, 0);text-shadow: #212529;margin-left: 40px;"></p>
          <div class="modal-footer">
         
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<!-- FOOTER -->
<div class="d-flex flex-column h-100">
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Smart Fashion</h5>
                    <p class="small text-muted">44, Townhall Road, Coimbatore-641039.</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary"
                            href="#">smartfashion.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor
                        incididunt.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i
                                    class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>




{% endblock %}