input
{
    border:none;
    border-bottom:2px solid lightgray;
    margin-bottom: 30px;
    margin-top:30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
input:focus{
    outline: none;
    border-bottom: 2px solid red;
}
#sign
{
    border-radius:20px;
    background-color:rgb(225, 70, 70);
    height: 60px;
    width: 110px;
}
#login{
    text-align: center;
    height:200px;
    padding: 15px;
    padding-top:10px ;
    width: 300px;
}
.card
{
    text-align: center;
    margin-top:150px;
    margin-left:650px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
